<h1>Listing attendees</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Email</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

  <% @attendees.each do |attendee| %>
    <tr>
      <td><%= attendee.name %></td>
      <td><%= attendee.email %></td>
      <td><%= link_to 'Show', attendee %></td>
      <td><%= link_to 'Edit', edit_attendee_path(attendee) %></td>
      <td><%= link_to 'Destroy', attendee, :confirm => 'Are you sure?', :method => :delete %></td>
    </tr>
  <% end %>
</table>

<br />

<%= link_to 'New Attendee', new_attendee_path %>
<%#*<h1>Listing attendees</h1>%>

<%# @attendees.each do |attendee| %>
<%#*<div class="imageBox">%>
    <%#= image_tag attendee.avatar.url(:thumb) %><br />
    <%#= attendee.name %>
    <%#= link_to image_tag("edit_icon.png"), edit_attendee_path(attendee) %>
    <%#= link_to image_tag("delete_icon.png"), attendee, :confirm => 'Are you sure?', :method => :delete %><br />
    <%#= attendee.email %><br />
    <%#*</div>%>
  <%# end %>
<%#*<br />%>
<%#= link_to 'New Attendee', new_attendee_path %>