<p>
  <b>Name:</b>
  <%= @attendee.name %>
</p>

<p>
  <b>Email:</b>
  <%= @attendee.email %>
</p>
<p>
  <b>Photo:</b>
<%= image_tag @attendee.avatar.url(:thumb) %>
  </p>




<%= link_to 'Edit', edit_attendee_path(@attendee) %> |
<%= link_to 'Back', attendees_path %>
